# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1) Python
2) R
3) SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Tensorflow

|Data Science Tools|
---------------------
|R Studio|
|Jupyter Notebooks|
|Jupyter Lab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives**
- Python
- R
- SQL
- SCALA
- JULIA

## Author
Bishwas Sherchan